.p-datatable-gridlines .p-datatable-tbody > tr > td {
  border: 2px solid #dee2e6;  // Cambia esto al color de borde que prefieras
}

.p-button {
  margin-right: 0.5em;
}

.p-button .pi {
  color: #495057;  // Cambia esto al color de icono que prefieras
}

.p-button:last-child {
  margin-right: 0;
}
